# App
APP_ENV=development
DEBUG=true
SECRET_KEY=changeme

# Server
HOST=0.0.0.0
PORT=8000
{% if use_postgres %}
# Postgres
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/{{ project_name }}
{% endif %}
